@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7eaf6;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
}

#main-container {
    box-shadow: 1px 0px 10px; 
    width: 600px;
    height: 600px;
    background-color: #a2a8d3;
    border-radius: 20px;
    padding: 10px;
}

#top-container {
    display: flex;
    width: 600px;
    height: 200px;
}

#mid-container {
    display: flex;
    width: 600px;
    height: 200px;
}

#bottom-container {
    display: flex;
    width: 600px;
    height: 200px;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9 {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1 {
    border-radius: 20px 0px 0px 0px;
}

#c3 {
    border-radius: 0px 20px 0px 0px;
}

#c7 {
    border-radius: 0px 0px 0px 20px;
}

#c9 {
    border-radius: 0px 0px 20px 0px;
}

img {
    height: 150px;
    width: 150px;
}

@media all and (max-width: 760px) {
    #main-container {
        height: 300px;
        width: 300px;
    }

    #top-container {
        width: 300px;
        height: 100px;
    }

    #mid-container {
        width: 300px;
        height: 100px;
    }

    #bottom-container {
        width: 300px;
        height: 100px;
    }

    #c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9 {
        border: 2px solid black;
        height: 100px;
        width: 100px;
    }

    .circle {
        height: 75px;
        width: 75px;
    }
    
    .x {
        height: 75px;
        width: 75px;
    }
}

.circle {
    background-image: url(./assets/circle.png);
}

.x {
    background-image: url(./assets/x.png);
}